<Layouts.flash_group flash={@flash} />

<div>
  <h1>Explorer homepage</h1>

  <p>Welcome to Explorer</p>

  <p>
    <a href={~p"/contact"}>Contact a</a>

    <.link href={~p"/contact"}>Contact link</.link>
  </p>
</div>
