<Layouts.app flash={@flash} current_scope={@current_scope}>
  <nav class="breadcrumbs">
    <p>
      <a>Collections</a>
    </p>
  </nav>

  <h1>{@page_title}</h1>

  <div class="grid u-mt">
    <ul class="grid__list">
      <.collection :for={collection <- @collections} collection={collection} />
    </ul>
  </div>
</Layouts.app>
