<Layouts.app flash={@flash} current_scope={@current_scope}>
  <nav class="breadcrumbs">
    <p>
      <a class="breadcrumbs__link" href={~p"/collections"}>Collections</a> ▸
      <a>{ @collection.name }</a>
    </p>
  </nav>

  <h1>{@page_title}</h1>

  <p>
    {@collection.description}
  </p>
</Layouts.app>
