/* This file is for your main application CSS */

@import url("_test.css");

:root {
  font-size: 1rem;
  line-height: 1.5rem;

  --border-width: 1px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site__main {
  flex-grow: 1;
}

.container {
  margin-inline: auto;
  max-inline-size: 60rem;
  padding-inline: 1rlh;
}

.header {
  background-color: linen;
  padding-block: 0.5rlh;
}

.header__inner {
  display: flex;
  margin-inline: auto;
  max-inline-size: 75rem;
  padding-inline: 1rlh;
}

.header__inner > :last-child {
  margin-left: auto;
}

.footer {
  background-color: linen;
  padding-block: 0.5rlh;
}

.footer__inner {
  display: flex;
  gap: 0.5rlh;
  margin-inline: auto;
  max-inline-size: 75rem;
  padding-inline: 1rlh;
}

.footer__inner > :last-child {
  margin-left: auto;
}

.menu {}

.menu__list {
  display: flex;
  gap: 0.5rlh;
  list-style-type: none;
  padding-left: 0;
  margin-block: 0;
}

.menu__item {}

.grid {
  display: grid;
  gap: 1rlh;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  padding-left: 0;
  margin-block: 0;
}

.card {
}

.card__link:any-link {
  border: var(--border-width) solid lightgray;
  border-radius: 5px;
  padding-inline: 1rlh;
  padding-block: calc(0.5rlh - var(--border-width));
  color: black;
  display: block;
  text-decoration: none;
  transition-property: border-color, box-shadow;
  transition-duration: 125ms;
}

.card__link:hover {
  border-color: gray;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.125);
}

.card__heading {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.card__body {
  margin-top: 0;
  margin-bottom: 0;
}


/* Utilities */

.u-ll {
  max-width: 65ch !important;
}

.u-mt {
  margin-top: 1rlh !important;
}
