.header {
  background-color: linen;
  padding-block: 0.5rlh;
}

.header__inner {
  display: flex;
  margin-inline: auto;
  max-inline-size: 75rem;
  padding-inline: 1rlh;
}

.header__inner > :last-child {
  margin-left: auto;
}
