<Layouts.app flash={@flash} current_scope={@current_scope}>
  <nav class="breadcrumbs">
    <p>
      <a>Editor</a>
    </p>
  </nav>

  <h1>{@page_title}</h1>

  <p>
    Welcome to the editor/admin section.
  </p>

  <p>
    Here you can create, edit or delete <.link href={~p"/editor/collections"}>collections</.link> and their items.
  </p>
</Layouts.app>
